{% extends "layout.html" %}
{% }
{% block body %}
    <h1>Keep My Tire</h1>
    <div class="flex-xl-row" style="margin-top: 50px;">
        <div class="flex-column" style="margin-left: 50px;">
            <h2>Tire Hotel:</h2>
            <span>Today we are using multiple tires according to seasons. Winter, Summer, Snow, Multipurpose tires ... </span>
            <span>We need to store all these tires. Also while changing tires we need professional help.</span>
            <span>"Keep My Tire" provides services that fits to you and your needs.</span>

        </div>
    </div>
{% endblock body %}