{% extends "layout.html" %}
{% load static %}
{% block body %}
<div class="card">
    {% if Failure %}
        <script>alert('FAILURE')</script>
    {% endif %}
    <div class="card-header">
        <h4 class="mb-0">User Car</h4>
    </div>
    <div class="card-body">
        <form method="POST" class="form" role="form" autocomplete="off">
            {% csrf_token %}
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Plate</label>
                <div class="col-lg-9">
                    <input class="form-control" type="text" value="34 XYZ 4156" name="plate">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Brand</label>
                <div class="col-lg-9">
                    <input class="form-control" type="text" value="BMW" name="brand">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">color</label>
                <div class="col-lg-9">
                    <input class="form-control" type="color" name="color">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Model</label>
                <div class="col-lg-9">
                    <input class="form-control" type="text" value="Q4" name="model">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"></label>
                <div class="col-lg-9">
                    <input type="reset" class="btn btn-secondary" style="background-color: #462226" value="Cancel">
                    <input type="submit" class="btn btn-primary" style="background-color: #595959" value="Save Changes">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock body%}