{% extends "layout.html" %}
{% load static %}
{% block body %}
    <div class="row">
        <div class="card" style="width: 100%">
         <h1 class="card-header bg-dark" style="text-align: center ; color: #c9c9c9;"> {{ cr.date }} {{ cr.time }}</h1>
            <div class="card-body" style="text-align: center">
                <label >Condition: </label> {{ cr.condition }}
                <div><label>Estimated Remaining Lifetime: </label>
                    {% if cr.erl == '0' %}
                        Need To Change
                    {% elif cr.erl == '1' %}
                        1.000 KM
                    {% elif cr.erl == '2' %}
                        2.000 KM
                    {% elif cr.erl == '3' %}
                        5.000 KM
                    {% elif cr.erl == '4' %}
                        10.000 KM
                    {% elif cr.erl == '5' %}
                        25.000 KM+
                    {% elif cr.erl == '6' %}
                        Up Yo 50.000 KM
                    {% endif %}
                </div>
                <div><label>Reporter: </label> {{ rp.first_name }} {{ rp.last_name }}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
