{% extends "layout.html" %}
{% load static %}
{% block body %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <script>
    $(document).ready(function () {
    $('#dtBasicExample').DataTable();
    $('.dataTables_length').addClass('bs-select');
    });
    $(document).ready(function () {
    $('#selectedColumn').DataTable({
      "aaSorting": [],
      columnDefs: [{
      orderable: false,
      targets: 3
      }]
    });
      $('.dataTables_length').addClass('bs-select');
    });
    $(document).ready(function () {
    $('#dtOrderExample').DataTable({
    "order": [[ 3, "desc" ]]
    });
    $('.dataTables_length').addClass('bs-select');
    });
    function getCSRFToken() {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, 10) === ('csrftoken' + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(10));
                break;
            }
        }
    }
    return cookieValue;
}
     var csrftoken = getCSRFToken()

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

	$(document).on("click", ".delete", function(){
         $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            // if not safe, set csrftoken
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
       var row = $(this).closest("tr")[0];
        $.ajax({
          type: 'POST',
          url: window.location,
          data: {
             'context': row.cells[3].innerHTML.split("\n")[0]
          },
            dataType: 'text',
        success: function (res, status) {
            location.reload()
        },
        error: function (res) {
            alert(res.status);
        }
        });
    });
    $(document).on("click", ".info", function(){
         $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            // if not safe, set csrftoken
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
       var row = $(this).closest("tr")[0];
        $.ajax({
          type: 'GET',
          url: '/customer-detail',
          data: {
             'context': row.cells[3].innerHTML.split("\n")[0]
          },
            dataType: 'text',
        error: function (res) {
            alert(res.status);
        }
        });
    });
    </script>
  <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm" style="text-align: center">First Name
      </th>
      <th class="th-sm"  style="text-align: center">Last Name
      </th>
      <th class="th-sm"  style="text-align: center">Phone Number
      </th>
      <th class="th-sm"  style="text-align: center">Email
      </th>
        <th class="th-sm"  style="text-align: center">Is Active
      </th>
         <th class="th-sm"  style="text-align: center">Actions
      </th>
    </tr>
  </thead>
  <tbody>
  {% for user in context %}
    <tr>
      <td  style="text-align: center">{{ user.first_name }}</td>
      <td  style="text-align: center">{{ user.last_name }}</td>
      <td  style="text-align: center">{{ user.phone_num }}</td>
      <td  style="text-align: center" >{{ user.email }}
      </td>
    {% if user.is_active %}
        <td style="text-align: center"><i class="fas fa-check-circle fa-2x" style="color: #20ea19"></i></td>
    {% else %}
        <td style="text-align: center"><i class="fas fa-times-circle fa-2x" style="color: #ea0005"></i></td>
    {% endif %}
        <td style="text-align: center">
        <a class="delete" title="Delete" data-toggle="tooltip"><i class="far fa-trash-alt fa-2x"></i></a>
        <a class="info" title="Info" data-toggle="tooltip" style="margin-left: 20px"><i class="fas fa-info-circle fa-2x"></i></a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th  style="text-align: center">First Name
      </th>
      <th  style="text-align: center">Last Name
      </th>
      <th  style="text-align: center">Phone Number
      </th>
      <th  style="text-align: center">Email
      </th>
        <th  style="text-align: center">Is Active
      </th>
        <th  style="text-align: center">Actions
      </th>
    </tr>
  {{ errors }}
  </tfoot>
</table>
{% endblock body %}