    <div class="modal-header">
        <div>
            <h1>Profile</h1>
        </div>
        <div><button type="button" class="close" data-dismiss="modal">X</button></div>
    </div>
    <div class="modal-body">
        <div class="row">
        <div class="card" style="width: 100%">
         <h1 class="card-header bg-dark" style="text-align: center ; color: #c9c9c9;"> {{ user.first_name }} {{ user.last_name }}</h1>
            <div class="card-body" style="text-align: center">
                <label >Email: </label> {{ user.email }}
                {% if user.is_active %}
                    <div><label>Birthdate: </label> {{ user.date_of_birth }}</div>
                {% endif %}
                <div><label>Phone Number: </label> {{ user.phone_num }}</div>
                <div><footer class="blockquote-footer" style="font-size: small">user Activity:
                {% if user.is_active %}
                <td style="text-align: center"><i class="fas fa-check-circle" style="color: #20ea19"></i></td>
                {% else %}
                <td style="text-align: center"><i class="fas fa-times-circle " style="color: #ea0005"></i></td>
                {% endif %}
                </footer>
                </div>
                {% if user.is_superuser %}
                     <div><footer class="blockquote-footer" style="font-size: small">Admin</footer> </div>
                {% elif user.is_staff %}
                    <div><footer class="blockquote-footer" style="font-size: small">Staff</footer> </div>
                {% else%}
                    <div><footer class="blockquote-footer" style="font-size: small">user</footer> </div>
                {% endif %}
            </div>
            <div  class="dropdown">
                <button class="btn btn-secondary bg-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: large">
                    Manage Tire / Car
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" style="color: #052638; font-size: large" href="{% url 'list-my-tires' %}">List My Tires</a>
                    <a class="dropdown-item" style="color: #052638; font-size: large" href="{% url 'list-my-cars' %}">List My Cars</a>
                </div>
            </div>
        </div>
    </div>
</div>
