<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title Page-->
    <title>Register</title>

    <!-- Icons font CSS-->
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <!-- Vendor CSS-->
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $("#date_of_birth").datepicker({
                format: 'yyyy-mm-dd'
            });
            $("#date_of_birth").on("change", function () {
                var fromdate = $(this).val();
                alert(fromdate);
            });
        });
    </script>
    <script type="text/javascript">

        function checkPassword(str) {
            var re = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
            return re.test(str);
        }

        function checkForm(form) {
            if (form.email.value === "") {
                alert("Error: Email cannot be blank!");
                form.email.focus();
                return false;
            }
             if (form.phone_num.value === "") {
                alert("Error: Please enter phone number");
                form.phone_num.focus();
                return false;
            }
             if (form.first_name.value === "") {
                alert("Error: Please enter your first name");
                form.first_name.focus();
                return false;
            }
             if (form.last_name.value === "") {
                alert("Error: Please enter your last name");
                form.last_name.focus();
                return false;
            }
              if (form.date_of_birth.value === "") {
                alert("Error: Please enter your birth date");
                form.date_of_birth.focus();
                return false;
            }
              var d1 = new Date()
              var d2 = new Date(form.date_of_birth.value)
              const diffTime = Math.abs(d1 - d2);
              if (diffTime < 567648000000){
                  alert("Error: You must be greater than 18 years old");
                  form.date_of_birth.focus();
                  return false ;
              }
              if (form.password1.value === "" || form.password2.value === "") {
                alert("Error: Please enter password and validation password");
                form.password1.focus();
                return false;
            }
            if (form.password1.value !== "" && form.password1.value === form.password2.value) {
                if (!checkPassword(form.password1.value)) {
                    alert("Minimum eight characters\n At least one letter\n At least One number ");
                    form.password1.focus();
                    return false;
                }
            } else {
                alert("Error: Please check that you've entered and confirmed your password!");
                form.password1.focus();
                return false;
            }
            return true;
        }
    </script>
</head>

<body>
<div class="row row-space">
    <div class="col">
        <div class="logo">
            <a href="/"><img src="{% static 'images/small_logo.png' %}" style="max-width:100%; height:auto;"></a>
        </div>
    </div>
</div>
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4" style="background-color: #c9c9c9; round-clip: 10px">
            <div class="card-body">
                <h2 class="title" style="color: #000000">Registration</h2>
                <form method="POST" onsubmit="return checkForm(this)">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="email" class="form-control form-control-lg" id="email" name="email">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="first_name">First Name</label>
                            <input type="text" class="form-control form-control-lg" id="first_name" name="first_name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="last_name">Last Name</label>
                            <input type="text" class="form-control form-control-lg" id="last_name" name="last_name">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="password1">Password</label>
                            <input type="password" class="form-control form-control-lg" id="password1" name="password1">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password2">Password Validate</label>
                            <input type="password" class="form-control form-control-lg" id="password2" name="password2">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="phone_num">Phone Number</label>
                            <input type="tel" class="form-control form-control-lg" id="phone_num" name="phone_num">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="date_of_birth">Birthdate</label>
                            <input class="form-control form-control-lg" type="date" id="date_of_birth" name="date_of_birth">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg" style="background-color: #1e1e1e">Sign in
                    </button>
                {{ form.errors }}
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Jquery JS-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<!-- Vendor JS-->
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<script src="{% static 'vendor/datepicker/moment.min.js' %}"></script>
<script src="{% static 'vendor/datepicker/daterangepicker.js' %}"></script>

<!-- Main JS-->
<script src="{% static 'js/global.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->